/* Index */

/* ---------------------------------------------- General Styles */

/* --------------- Modal Styles (Menu and Form) */

/* ---------------------------------------------- Header Styles */

/* --------------- Menu Styles */

/* --------------- Logo Styles */

/* --------------- Close Button Styles */

/* ---------------------------------------------- Main Styles */

/* --------------- Hero */

/* --------------- Hey There */

/* --------------- What We Do */

/* --------------- Motto */

/* --------------- Say Hello and Contact Controls */

/* --------------- Fixed Controls */

/* ---------------------------------------------- Footer Styles */

/* ---------------------------------------------- Media Queries */

/* ------------------------------------------------------------------------------------------------------------------------------------------ */

/* ---------------------------------------------- General Styles */

@import url("https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro");

:root {
  /* Background Colors */
  /* --cmstl-bg-color: hsl(0, 0%, 0%); */
  --cmstl-bg-color: rgb(13, 13, 13);
  --cmstl-bg-color-footer: rgb(0, 0, 0);

  /* Font Colors */
  /* --cmstl-f-color: rgb(231, 233, 234);  */
  --cmstl-f-color: rgb(255, 255, 255); /* font color */

  /* Link Colors */
  /* --cmstl-f-color-link-hover: rgb(230, 26, 46); */
  /* --cmstl-f-color-link-hover: rgb(0, 49, 127); */
  --cmstl-f-color-link-hover: rgb(93, 155, 219);
  /* --cmstl-f-color-link-hover: rgb(93, 122, 219); */
  /* --cmstl-f-color-link-hover: rgb(100, 165, 223); */

  --cmstl-f-color-selection: rgb(0, 49, 127);
  --cmstl-bg-color-selection: rgb(100, 165, 223);

  /* Blur */
  --cmstl-blur: blur(4px);
  --cmstl-blur-lg: blur(16px);

  /* Scrollbar */
  --scroll-bar-thumb: rgb(62, 65, 68);
  --scroll-bar-track: rgb(22, 24, 28);

  scroll-behavior: smooth;

  /* Custom Properties */
  /* initialize to 0 in case the page is reloaded */
  --scroll: 0;
  --size: 0;

  /* Normalize */
  font-size: 10px;
  font-family: "Neue Haas Grotesk Display Pro", Arial, sans-serif;
  box-sizing: border-box;
}

* {
  /* outline: 1px solid pink; */
}

* ::selection {
  /* color: var(--cmstl-f-color);
  background-color: var(--cmstl-f-color-link-hover); */

  color: var(--cmstl-f-color-link-hover);
  background-color: var(--cmstl-f-color);
}

* :focus {
  outline: none;
  border-radius: 2px;
  box-shadow: 0 0 0 0.5rem var(--cmstl-bg-color-footer),
    0 0 0 1rem var(--cmstl-f-color-link-hover);
}

html {
  /* background-color: red; */
}

body {
  /* temporary */
  /* min-height: 500rem; */

  position: relative;

  background-color: var(--cmstl-bg-color);
  color: var(--cmstl-f-color);
  font-size: 1.5rem;
  line-height: 2rem;

  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  scrollbar-color: var(--scroll-bar-thumb) var(--scroll-bar-track);
  overflow-x: hidden;

  /* normalize */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.cmstl-global-wrapper {
  /* provides global center */
  /* margin-inline: auto; */
}

.cmstl-page-min-height {
  min-height: 90vh;
}

.cmstl-section-wrapper {
  /* - provides section padding */
  /* - responsive width */
  max-width: 153.6rem;
  padding-inline: 11.5rem;
  padding-block: 3.84rem;
  margin-inline: auto;
}

.cmstl-section-wrapper-header {
  /* same as .cmstl-section-wrapper, but a different name so that it is not grabbed by the background movement function */
  max-width: 153.6rem;
  padding-inline: 11.5rem;
  padding-block: 3.84rem;
  margin-inline: auto;

  z-index: 1000;
}

.cmstl-section-wrapper-margin {
  margin-top: 23rem;
  margin-bottom: 23rem;
}

.cmstl-blur {
  backdrop-filter: var(--cmstl-blur);
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.cmstl-hide {
  display: none;
}

.cmstl-fw-xl {
  color: var(--cmstl-f-color-link-hover);
  font-size: 15.36rem;
  font-weight: 600;
  line-height: 12.3rem;
  letter-spacing: -0.384rem;

  margin-bottom: 7.68rem;
}

.cmstl-fw-lg {
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 6.8rem;
  /* line-height: 7.8rem; */
  letter-spacing: -0.1536rem;
}

.cmstl-mw-responsive-lg {
  /* typically the parent div of .cmstl-fw-lg */
  max-width: 67%;
}

.cmstl-fw-normal {
  font-size: 1.92rem;
  font-weight: 400;
  line-height: 2.88rem;
  /* letter-spacing: 0.0192rem; */
  letter-spacing: 0.07rem;

  max-width: 60%;
}

.cmstl-fw-small {
  color: var(--cmstl-f-color-link-hover);
  font-size: 1.68rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.0192rem;
}

/* --------------- Modal Styles (Menu and Form) */

.cmstl-modal-menu {
  z-index: 2000;
  position: fixed;
  inset: 0;
  /* overflow-x: hidden;
  overscroll-behavior-x: none; */

  backdrop-filter: var(--cmstl-blur-lg);
  opacity: 1;

  transition-property: opacity, display;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-behavior: allow-discrete;
}

.cmstl-modal-menu.cmstl-hide {
  display: none;
  opacity: 0;
}

.cmstl-modal-close-btn-wrapper {
  display: flex;
  justify-content: end;
  align-items: end;

  margin-bottom: 3rem;
}

.cmstl-modal-close-btn {
  cursor: pointer;
}

.cmstl-modal-close-btn:hover {
  color: var(--cmstl-f-color-link-hover);
}

.cmstl-modal-close-btn svg {
  pointer-events: none;
}

/* Menu */

.cmstl-modal-menu-wrapper div {
  line-height: 5.85rem;
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 0.0192rem;
  padding-left: 2rem;
}

.cmstl-modal-menu-wrapper div a:hover {
  color: var(--cmstl-f-color-link-hover);
}

/* Form */

.cmstl-modal-form--wrapper {
}

/* Modal Pop Up Animation */

/* - the elements this element is attached to needs position: relative */
/* - the element only has this div attached and no other so it can be easily selected with 'div' */
.cmstl-expanding-div {
  /* the filter is actually magnified when scaling the element so can't use */
  /* backdrop-filter: var(--cmstl-blur-lg); */

  background-color: rgba(0, 0, 0, 0.8);
  /* width: 5px;
  height: 5px; */
  width: 1px;
  height: 1px;
  border-radius: 100%;

  position: absolute;
  /* hide behind parent */
  z-index: -1;

  cursor: default;

  scale: 1;

  transition-property: scale;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.cmstl-expanding-div-expanded {
  /* scale 5px to twice the size of the largest side of the screen (calculation is somewhat close lol) */
  scale: calc(5 * (2 * var(--size) / 5));
  z-index: 3000;
}

/* DOES NOT WORK - overrites opacity 0 from fixed-controls when it reaches 'say-hello' section */
.cmstl-fixed-controls .cmstl-mail .cmstl-expanding-div {
  opacity: 1;
}

/* ---------------------------------------------- Header Styles */

.cmstl-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.cmstl-nav-wrapper {
  /* padding-block: 3rem; */
}

.cmstl-nav-wrapper nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* --------------- Logo Styles */

.cmstl-site-logo-wrapper {
  /* backdrop filter */
  backdrop-filter: var(--cmstl-blur);
  /* padding: 0.9rem; */
  border-radius: 1.5rem;

  position: relative;
}

.cmstl-site-logo-wrapper svg {
  width: 2.7rem;
  height: 4.5rem;
}

.cmstl-site-logo {
  /* width: 4.5rem; */
  /* height: 4.5rem; */
  width: 6.5rem;
  height: 6.5rem;
  background-image: url("media/Logo_KaizenWave_Imagotipo_FullColor (1).png");
  background-size: contain;
  background-repeat: no-repeat;

  scale: 1;

  transition-property: visibility, rotate, scale, translate;
  /* transition-duration: 70ms; */
  transition-duration: 400ms;
  transition-timing-function: ease-in;
}

.cmstl-site-logo.cmstl-invisible {
  visibility: hidden;
  /* rotate: 3turn; */
  rotate: 180deg;
  scale: 0.2;
  translate: -40% 0;
  transition-duration: 100ms;
}

.cmstl-site-logo-text {
  /* width: calc(4.5rem * 2.5); */
  /* height: 4.5rem; */
  /* width: calc(6.5rem * 2.5);
  height: 6.5rem;
  background-image: url("media/Logo_KaizenWave_IdentidadLateral_FullColor (1).png");
  background-size: contain;
  background-repeat: no-repeat; */

  line-height: 5.85rem;
  font-size: 3.6rem;
  font-weight: 700;

  position: absolute;
  top: 50%;
  left: 0;
  width: max-content;

  transform: translate(0, -50%);
  transform-origin: left;

  transition-property: scale, opacity;
  /* transition-duration: 100ms; */
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.cmstl-site-logo-text-shrink {
  scale: 0.7 1;
  opacity: 0;
}

/* --------------- Menu Styles */

.cmstl-responsive-menu-wrapper {
  display: flex;
  align-items: center;
}

.cmstl-menu-toggle {
  cursor: pointer;
  display: none;

  /* backdrop filter */
  backdrop-filter: var(--cmstl-blur);
  padding-block: 0.7rem;
  border-radius: 0.7rem;

  position: relative;
}

.cmstl-menu-toggle svg {
  pointer-events: none;
}

.cmstl-responsive-menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* font-size: 2.2rem; */
  font-size: 2.4rem;
  letter-spacing: 0.1rem;

  /* backdrop filter */
  backdrop-filter: var(--cmstl-blur);
  padding-block: 0.9rem;
  border-radius: 0.9rem;
}

.cmstl-responsive-menu ul li {
  /* padding-inline: 1.5rem; */
  /* padding-inline: 2rem; */
  padding-inline: 2.5rem;
}

.cmstl-responsive-menu ul li a:hover {
  color: var(--cmstl-f-color-link-hover);
}

/* ---------------------------------------------- Main Styles */

/* --------------- Hero */

.cmstl-background-image {
  position: absolute;
  inset: 0;

  z-index: -1000;

  background-image: url("media/digital-dark-4-unsplash.jpg");
  /* background-image: url("media/background-img-2.png"); */
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  /* background-position: center; */
  background-position: 50% 50%;
  background-position: bottom;
}

.cmstl-background-noise {
  position: absolute;
  inset: 0;

  z-index: -500;

  opacity: 0.005;

  background-image: url("media/noise.gif");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.cmstl-hero {
  height: 100vh;
  display: flex;
  align-items: end;
}

.cmstl-hero .cmstl-fw-lg {
  /* line-height: 7.8rem; */

  padding-bottom: 13.4rem;

  /* Equation to map 'x' in range [a, b] to 'y' in range [c, d]
  
    x = scroll, [a, b] = [0, 100/3] (33%)

    y = opacity, [c, d] = [1, 0] (from opacity 1 to opacity 0, from visible to invisible)
  
    y = {[(x - a) / (b - a)] * (d - c)} + c
  
  */

  opacity: calc(1 - (var(--scroll) / (100 / 3)));
}

.cmstl-hero span {
  display: block;
  width: min-content;
}

/* --------------- Hey There */

.cmstl-hey-there {
  margin-top: 46rem;
}

.cmstl-hey-there h1:nth-child(2) {
  margin-bottom: 3.4rem;
}

/* .cmstl-hey-there h1:nth-child(3) {
  margin-bottom: 3.4rem;
} */

.cmstl-hey-there .cmstl-fw-lg-special {
  /* text decrease for lg heading on 'hey-there' section as per request */
  font-size: 5.2rem;
  margin-bottom: 2rem;
}

/* intersectionObserver anim */

/* xl */

.cmstl-hey-there .cmstl-fw-xl {
  opacity: 0;
  transform: translateY(10rem);

  transition: opacity 1000ms linear, transform 500ms ease-out;
}

.cmstl-hey-there .cmstl-hey-there-scroll-anim-xl {
  opacity: 1;
  transform: translateY(0);
}

/* other text */

.cmstl-hey-there .cmstl-fw-lg {
  opacity: 0;
  transform: translateY(5rem);

  transition: opacity 1000ms linear, transform 500ms linear;
}

.cmstl-hey-there .cmstl-hey-there-scroll-anim-other {
  opacity: 1;
  transform: translateY(0);
}

/* --------------- What We Do */

.cmstl-what-we-do {
  margin-top: 38.4rem;
}

.cmstl-content-wrapper h1 {
  margin-bottom: 1.44rem;
}

.cmstl-what-we-do .cmstl-article-wrapper {
  display: flex;
}

.cmstl-what-we-do .cmstl-content-wrapper {
  margin-bottom: 4.8rem;
}

/* intersectionObserver anim */

/* xl */

.cmstl-what-we-do .cmstl-fw-xl {
  opacity: 0;
  transform: translateY(10rem);

  transition: opacity 1000ms linear, transform 500ms ease-out;
}

.cmstl-what-we-do .cmstl-what-we-do-scroll-anim-xl {
  opacity: 1;
  transform: translateY(0);
}

/* lg */

.cmstl-what-we-do .cmstl-fw-lg {
  opacity: 0;
  transform: translateY(-1rem);

  transition: opacity 1500ms linear, transform 1000ms linear;
}

.cmstl-what-we-do .cmstl-what-we-do-scroll-anim-lg {
  opacity: 1;
  transform: translateY(0);
}

/* normal */

.cmstl-what-we-do .cmstl-fw-normal {
  opacity: 0;
  transform: translateY(-4rem);

  transition: opacity 1000ms linear, transform 1000ms linear;
}

.cmstl-what-we-do .cmstl-what-we-do-scroll-anim-normal {
  opacity: 1;
  transform: translateY(0);
}

/* --------------- Motto */

.cmstl-motto {
  min-height: 100vh;

  display: flex;
  align-items: center;
}

/* .cmstl-motto .cmstl-fw-lg {
  line-height: 7.8rem;
} */

/* intersectionOverver animation */

.cmstl-motto .cmstl-fw-lg {
  opacity: 0;

  transition: opacity 2000ms ease-in;
}

.cmstl-motto .cmstl-motto-scroll-anim {
  opacity: 1;
}

/* --------------- Say Hello and Contact Controls */

.cmstl-say-hello .cmstl-fw-lg {
  margin-bottom: 3.84rem;
}

.cmstl-contact-controls-wrapper {
  display: flex;
  column-gap: 3.72rem;
}

.cmstl-contact-wrapper {
  margin-top: 6.72rem;
}

.cmstl-contact {
  padding: 2rem;
  border-radius: 0.24rem;

  width: max-content;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--cmstl-f-color-link-hover);

  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.cmstl-contact:hover {
  background-color: var(--cmstl-f-color);
}

.cmstl-contact svg {
  width: 5.8rem;
  height: 5.8rem;

  pointer-events: none;
}

.cmstl-phone {
  stroke: var(--cmstl-f-color);
}

.cmstl-phone:hover {
  stroke: var(--cmstl-f-color-link-hover);
}

.cmstl-mail {
  /* to make the modal animation work */
  position: relative;
}

.cmstl-mail:hover {
  color: var(--cmstl-f-color-link-hover);
}

/* intersectionObserver animation */

.cmstl-say-hello .cmstl-fw-xl,
.cmstl-say-hello .cmstl-fw-lg,
.cmstl-say-hello .cmstl-fw-normal,
.cmstl-say-hello .cmstl-contact-controls-wrapper {
  transform: translate(-10rem, 10rem);
  opacity: 0;

  transition: transform 500ms ease-out, opacity 1000ms linear;
}

.cmstl-say-hello .cmstl-say-hello-scroll-anim {
  opacity: 1;
  transform: translate(0, 0);
}

/* --------------- Fixed Controls */

.cmstl-fixed-controls {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;

  padding: 2.4rem;

  opacity: 1;
  transition: opacity linear 200ms;
}

.cmstl-fixed-controls.cmstl-hide-fixed-controls {
  opacity: 0;
  pointer-events: none;
}

.cmstl-fixed-controls .cmstl-contact-wrapper {
  margin: 0;
}

.cmstl-fixed-controls.cmstl-contact-controls-wrapper {
  column-gap: 2.72rem;
}

.cmstl-fixed-controls .cmstl-contact svg {
  width: 2.9rem;
  height: 2.9rem;
}

/* ---------------------------------------------- Footer Styles */

.cmstl-footer-bg-color {
  background-color: var(--cmstl-bg-color);
}

.cmstl-section-wrapper.cmstl-footer-bg-color {
  /* gets rid of section-wrapper width and margin */
  margin-inline: 0;
  max-width: 100%;
}

.cmstl-footer {
  margin-top: 3.84rem;
  margin-bottom: 1.92rem;

  /* sets section-wrapper styles back */
  max-width: 153.6rem;
  margin-inline: auto;
}

.cmstl-copyright-section {
  margin-top: 7.68rem;

  font-size: 1.44rem;
  letter-spacing: 0.0192rem;
  line-height: 1.92rem;
}

.cmstl-site-logo-text.cmstl-reposition-text {
  transform: translate(0%, -50%);
}

/* ---------------------------------------------- Media Queries */

@media screen and (max-width: 1024px) {
  .cmstl-section-wrapper {
    /* - provides section padding */
    /* - responsive width */
    padding-inline: 7.68rem;
  }

  .cmstl-section-wrapper-header {
    /* same as .cmstl-section-wrapper, but a different name so that it is not grabbed by the background movement function */
    padding-inline: 7.68rem;
  }

  .cmstl-motto .cmstl-mw-responsive-lg {
    max-width: 100%;
  }

  .cmstl-fw-lg {
    line-height: 6.84rem;
  }

  .cmstl-fw-normal {
    max-width: 100%;
  }

  .cmstl-menu-toggle {
    display: block;
  }

  .cmstl-responsive-menu {
    display: none;
  }

  .cmstl-hero span {
    transform: scale(0.8);
    transform-origin: left;
  }

  .cmstl-footer .cmstl-responsive-menu {
    display: block;
  }

  .cmstl-nav-wrapper .cmstl-footer-nav {
    display: block;
  }

  .cmstl-footer .cmstl-responsive-menu ul {
    display: block;
  }

  .cmstl-footer .cmstl-responsive-menu ul li {
    padding-inline: 0;
    /* padding-block: 0.6rem; */
    padding-block: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  /* --------------- Section Layout */

  .cmstl-section-wrapper {
    /* - provides section padding */
    /* - responsive width */
    padding-inline: 2.4rem;
    padding-block: 2.4rem;
  }

  .cmstl-section-wrapper-header {
    /* same as .cmstl-section-wrapper, but a different name so that it is not grabbed by the background movement function */
    padding-inline: 2.4rem;
    padding-block: 2.4rem;
  }

  .cmstl-section-wrapper-margin {
    margin-top: 3.84rem;
    margin-bottom: 15.4rem;
  }

  .cmstl-hero span {
    transform: scale(1);
  }

  .cmstl-hey-there {
    margin-top: 30.7rem;
  }

  .cmstl-what-we-do {
    margin-top: 23rem;
  }

  /* --------------- Text Content */

  .cmstl-fw-xl {
    font-size: 10.5rem;
    line-height: 8.44rem;

    margin-bottom: 3.84rem;
  }

  .cmstl-fw-lg {
    font-size: 4.8rem;
    line-height: 4.56rem;
    letter-spacing: -0.1536rem;
  }

  .cmstl-hey-there .cmstl-fw-lg-special {
    font-size: 3rem;
    line-height: 3.2rem;
  }

  /* --------------- Contact Controls */

  .cmstl-contact-controls-wrapper {
    column-gap: 2.72rem;
  }

  .cmstl-contact svg {
    width: 2.9rem;
    height: 2.9rem;
  }

  .cmstl-fixed-controls {
    padding: 1.44rem;
  }

  .cmstl-fixed-controls .cmstl-contact {
    padding: 1.44rem;
  }

  .cmstl-fixed-controls .cmstl-contact svg {
    width: 1.9rem;
    height: 1.9rem;
  }
}

@media screen and (max-width: 500px) {
  /* Helps hero text not overflow */
  .cmstl-hero .cmstl-fw-lg {
    font-size: 3.5rem;
    line-height: 4rem;
    letter-spacing: -0.1536rem;
  }
}

@media screen and (max-width: 425px) {
  .cmstl-fw-xl {
    font-size: 8.5rem;
    line-height: 8.44rem;
  }
}

@media screen and (max-width: 425px) {
  /* Helps hero text not overflow */
  .cmstl-hero .cmstl-fw-lg {
    font-size: 3rem;
    line-height: 3.2rem;
    letter-spacing: -0.1536rem;
  }
}

@media screen and (max-width: 320px) {
  .cmstl-fw-xl {
    font-size: 6.5rem;
    line-height: 5.44rem;
  }
}
