:root {
  font-size: 10px;
}

body {
  min-height: 700rem;

  background-color: pink;

  position: relative;
}

.expand {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.expanding-elem {
  z-index: 2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  border: 0;
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 18px;
  outline: none;
  animation-duration: 3000ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.expanding-elem[data-open="true"] {
  background-color: rgba(0, 0, 0, 0.8);
  animation-name: scale;
}

.expanding-elem[data-open="false"] {
  transition: background-color 250ms linear;
}

.reverse-animation {
  animation-direction: reverse;
}

@keyframes scale {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(100000%);
    backdrop-filter: blur(16px);
  }
}

.second {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: brown;
}

.unexpand {
  animation-name: unscale;
  animation-duration: 3000ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes unscale {
  to {
    transform: scale(0);
  }
}

/* test scroll anim */

.test-scroll-anim {
  min-height: 500rem;
  background-color: black;
  color: white;
  font-size: 8rem;

  opacity: 0.5;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.elem {
  padding-left: 10rem;
  opacity: 0;
  transform: translate(-10%, 0);

  transition-property: opacity, transform;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.js-scroll-anim {
  opacity: 1;
  transform: translate(0, -50%);
}

.css-scroll-anim {
  padding-left: 10rem;

  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry;
  /* animation-range-start: entry; */
  /* animation-range-end: 20rem; */
}

@keyframes fade-in {
  0% {
    opacity: 0;
    /* transform: translate(400px); */
    transform: translate(-10%, 0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    /* transform: translateY(0px); */
    transform: translate(0, -50%);
  }
}
